$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$btn-primary-bg: #D0021B;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

nav.navbar {
    background: none;
    border-bottom-color: transparent;
    .navbar-brand {
        padding: 0;
    }
}
